<% provide :title, t(".A1") %>
<h1><%= t ".A1" %></h1>
<p>
  <%= t ".th" %>
  <em><%= link_to t(".turhome"), Settings.url.turhome %></em>
  <%= t ".part" %>
  <%= link_to t(".Learn"), Settings.url.Learn %>
  <%= t ".family" %>
  <%= link_to t(".turbook"), Settings.url.turbook %>
  <%= t ".and" %>
  <%= link_to t(".screen"), Settings.url.screen %>
  <%= t ".to" %>
  <%= link_to t(".turrails"), Settings.url.turrails %>
  <%= t ".this" %>
</p>
